<div class="events">
    {{#each events}}
    <div class="card">
        <div class="card-header">
            <h2>
                <a href="/event/{{id}}">{{name}}</a>
            </h2>
        </div>
        <div class="card-body">
          <p>{{ event_start }}</p>
          <p>{{ location }}</p>
        </div>
    </div>
    {{/each}}
</div>