
<div class="card-header">
    <h2>Add New Event</h2>
  </div>
<div class="events">
    <div id="newEvent" role="tabpanel">
    <form id="newevent-form" class="card-body">
      <div>
        <label for="name-input-newEvent">* Event Name</label>
        <input type="text" id="name-input-newEvent" />
      </div>
      <div>
        <label for="description-input-newEvent">Event Description</label>
        <input type="description" id="description-input-newEvent" />
      </div>
      <div>
        <label for="event_start-input-newEvent">* Event Start Time</label>
        <input type="event_start" id="event_start-input-newEvent" />
      </div>
      <div>
        <label for="event_end-input-newEvent">Event End Time</label>
        <input type="event_end" id="event_end-input-newEvent" />
      </div>
      <div>
        <label for="location-input-newEvent">* Location</label>
        <input type="location" id="location-input-newEvent" />
      </div>
      <div>
        <label for="cost-input-newEvent">Cost</label>
        <input type="cost" id="cost-input-newEvent" />
      </div>
      <div>
        <label for="link-input-newEvent">Website Link</label>
        <input type="link" id="link-input-newEvent" />
      </div>
    
    <button type="submit" id="new_event-btn" class="btn" >Add Event, Have FUN!</button>
      <a href="/login">Login instead</a>
      <p>* Required</p>
    </form>
  </div>
</div>

<script src="/js/newEvent.js"></script>



