:root {
    --primary: #F8F1F1;
    --secondary: #A3D2CA;
    --tertiary: #5EAAA8;
    --accent: #f57c36;
    --dark: #38302e;
    --border-radius: 0.3rem;
  }

 .btn{
     border: solid 1px black;
     border-radius: 5px;
     padding: 4px;
     background-color:#e7712c;

 }
.nav-link{
    
    text-decoration: none;
    color: #000;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    background-color:#e7712c;
}
 .link{
     text-decoration: none;
     color: #000;
     border: solid 1px black;
     border-radius: 5px;
     padding: 5px;
     background-color:#e7712c;
 }

 #navbar{
   background-color: #5EAAA8; ;
 }

 .card-header{
     background-color: #A3D2CA;
 }
 
 .card-body{
     background-color: #F8F1F1;
 }

 .flex{
     display: flex;
 }